<div class="info my-5" id="activities">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ktitle">
          <h1 class="cl-gray text-uppercase">our actitivites</h1>
          <h3 class="cl-gray text-uppercase">our best services for your kids</h3>
        </div>
        <div class="line bg-yellow mt-3"></div>
      </div>
    </div> <!-- end row -->
    <div class="row">
      <div class="col-12 col-md-4 my-4">
        <div class="media">
          <img class="d-flex mr-3" src="assets/img//custom_food.png" alt="" width="80" height="80">
          <div class="media-body">
            <h4 class="mt-0 mb-2 text-uppercase">CUSTOM FOOD</h4>
            <p class="mt-1">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-1"><i class="fa fa-chevron-right mr-2" aria-hidden="true"></i>More</a>
          </div>
        </div> <!-- end media -->
      </div> <!-- end col-md4 -->
      <div class="col-12 col-md-4 my-4">
        <div class="media">
          <img class="d-flex mr-3" src="assets/img/many_sport.png" alt="" width="80" height="80">
          <div class="media-body">
            <h4 class="mt-0 mb-2 text-uppercase">many sport</h4>
            <p class="mt-1">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-1"><i class="fa fa-chevron-right mr-2" aria-hidden="true"></i>More</a>
          </div>
        </div> <!-- end media -->
      </div> <!-- end col-md4 -->
      <div class="col-12 col-md-4 my-4">
        <div class="media">
          <img class="d-flex mr-3" src="assets/img/bus_business.png" alt="" width="80" height="80">
          <div class="media-body">
            <h4 class="mt-0 mb-2 text-uppercase">shuttle bus service</h4>
            <p class="mt-1">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-1"><i class="fa fa-chevron-right mr-2" aria-hidden="true"></i>More</a>
          </div>
        </div> <!-- end media -->
      </div> <!-- end col-md4 -->
      <div class="col-12 col-md-4 my-4">
        <div class="media">
          <img class="d-flex mr-3" src="assets/img/music_lesson.png" alt="" width="80" height="80">
          <div class="media-body">
            <h4 class="mt-0 mb-2 text-uppercase">music lesson</h4>
            <p class="mt-1">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-1"><i class="fa fa-chevron-right mr-2" aria-hidden="true"></i>More</a>
          </div>
        </div> <!-- end media -->
      </div> <!-- end col-md4 -->
      <div class="col-12 col-md-4 my-4">
        <div class="media">
          <img class="d-flex mr-3" src="assets/img/excursions.png" alt="" width="80" height="80">
          <div class="media-body">
            <h4 class="mt-0 mb-2 text-uppercase">amazing escursion</h4>
            <p class="mt-1">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-1"><i class="fa fa-chevron-right mr-2" aria-hidden="true"></i>More</a>
          </div>
        </div> <!-- end media -->
      </div> <!-- end col-md4 -->
      <div class="col-12 col-md-4 my-4">
        <div class="media">
          <img class="d-flex mr-3" src="assets/img/languages.png" alt="" width="80" height="80">
          <div class="media-body">
            <h4 class="mt-0 mb-2 text-uppercase">second language</h4>
            <p class="mt-1">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-1"><i class="fa fa-chevron-right mr-2" aria-hidden="true"></i>More</a>
          </div>
        </div> <!-- end media -->
      </div> <!-- end col-md4 -->	
    </div>
  </div>
</div>