<div class="bg_gradian"></div>
<div class="footer bg-dark py-3">
  <div class="container ">
    <div class="row pt-5 ">
      <div class="col-12 col-md-3">
        <h5 class="text-uppercase cl-white">our primary school</h5>
        <div class="line line-small bg-white mt-3"></div>
        <p class="cl-white mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
        <div class="line line-small bg-white my-3"></div>					
        <a href=""><i class="px-2 py-2 mr-3 btn fa fa-envelope-o cl-green"></i></a>
        <a href=""><i class="px-2 py-2 mr-3 btn fa fa-home cl-green"></i></a>
        <a href=""><i class="px-2 py-2 mr-3 btn fa fa-phone cl-green"></i></a>
      </div> <!-- end col -->
      <div class="col-12 col-md-3">
        <h5 class="text-uppercase cl-white">tags</h5>
        <div class="line line-small bg-white my-3"></div>
        <div class="tag">
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">education</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">teacher</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">kids</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">educational</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">books</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">courses</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">excursions</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">education</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">teacher</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">courses</a>
          <a href="" class="tag-item btn bg-darkgray cl-white px-1 mr-2 my-1">teachers</a>
          
        </div>
      </div> <!-- end col -->
      <div class="col-12 col-md-3">
        <h5 class="text-uppercase cl-white">our gallery</h5>
        <div class="line line-small bg-white my-3"></div>
        <div class="card-columns">
          <div class="card rounded-0">
            <img class="card-img-top img-fluid" src="assets/img/footer1.jpg" alt="Card image cap">
          </div>
          <div class="card rounded-0">
            <img class="card-img-top img-fluid" src="assets/img/footer2.jpg" alt="Card image cap">
          </div>
          <div class="card rounded-0">
            <img class="card-img-top img-fluid" src="assets/img/footer3.jpg" alt="Card image cap">
          </div>
          <div class="card rounded-0">
            <img class="card-img-top img-fluid" src="assets/img/footer4.jpg" alt="Card image cap">
          </div>
          <div class="card rounded-0">
            <img class="card-img-top img-fluid" src="assets/img/footer5.jpg" alt="Card image cap">
          </div>
          <div class="card rounded-0">
            <img class="card-img-top img-fluid" src="assets/img/footer6.jpg" alt="Card image cap">
          </div>
        </div>					
      </div> <!-- end col -->
      <div class="col-12 col-md-3">
        <h5 class="text-uppercase cl-white">contact</h5>
        <div class="line line-small bg-white my-3"></div>
        <form >
          <div class="form-group">
            <input type="text" class="form-control bg-darkgray cl-gray" placeholder="EMAIL">							
          </div>
          <div class="form-group">
            <textarea class="form-control bg-darkgray cl-gray" placeholder="MESSAGE" rows="2"></textarea> 
          </div>
          <input type="submit" class="btn cl-white bg-green" value="SEND">
        </form>
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</div>
<div class="copyright py-2 bg-darkgray">
  <div class="container">
    <div class="row ">
      <div class="col-6">
        <p class="cl-white">© Copyright 2014 by <i class="cl-gray">NicDark</i> Themes.com - Made With <i class="fa fa-heart cl-red"></i> In Venice</p>
      </div>
      <div class="col-3 push-3 icon-group">
        
        <i class="fa fa-upload px-2 py-2 mr-2 bg-green cl-white rounded"></i>							
    
        <i class="fa fa-youtube-play px-2 py-2 mr-2 bg-red cl-white rounded"></i>
    
        <i class="fa fa-facebook px-2 py-2 mr-2 bg-violet cl-white rounded"></i>
    
        <i class="fa fa-skype px-2 py-2 bg-blue mr-2 cl-white rounded"></i>
    
        <i class="fa fa-instagram px-2 py-2 mr-2 bg-yellow cl-white rounded"></i>

      </div>
    </div> <!-- end row -->
  </div>
</div> <!-- end copyright -->