<div class="submenu">
  <div class="container">
    <div class="row no-gutters btn-groups">
      <div class="col-12 col-md-3">
        <a href="#" class="btn item bg-blue text-uppercase">our cources</a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="btn item bg-yellow text-uppercase">our prices</a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="btn item bg-red text-uppercase">activites</a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="btn item bg-green text-uppercase">teachers</a>
      </div>

    </div>
  </div>
</div>