<nav class="navbar fixed-top navbar-toggleable-md pt-0 ">
  <div class="container px-0">
    <div class="row mx-auto" style="width: 100%">
      <div class="col-12 px-0 line1">
        <div class="collapse navbar-collapse justify-content-between" id="navbar">
            <div class="navbar-nav">
              <p class="nav-item nav-link text-uppercase" href="#">our event</p>
              <p class="nav-item nav-link text-uppercase" href="#">news</p>
              <p class="nav-item nav-link text-uppercase" href="#">(+00)12345678</p>
            </div>
            <div class="navbar-nav">
              <p class="nav-item nav-link text-uppercase" href="#">languages</p>
              <p class="nav-item nav-link text-uppercase" href="#">register</p>
              <p class="nav-item nav-link text-uppercase" href="#">log in</p>
            </div>
        </div>
      </div>
      <div class="bg_gradian"></div>
      <div class="col-12 px-0 line2">
        <div class="collapse navbar-collapse" >
          <a class="nav-item nav-link" href="#">
            <img src="assets/img/logo.png" alt="logo" width="135" height="21.5" class="d-inline-block align-top">
          </a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a href="" class="navlink text-uppercase">home</a>
              </li>
              <li class="nav-item">
                <a href="" class="navlink text-uppercase">courses</a>
              </li>
              <li class="nav-item">
                <a href="" class="navlink text-uppercase">prices</a>
              </li>
            <li class="nav-item">
                <a href="" class="navlink text-uppercase">teacher</a>
              </li>
            <li class="nav-item">
                <a href="" class="navlink text-uppercase">activities</a>
              </li>
            <li class="nav-item">
                <a href="" class="navlink text-uppercase">contacts</a>
              </li>
              <li class="nav-item">
                <a href="" class="navlink text-uppercase"><i class="fa fa-shop"></i></a>
              </li>
            </ul>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</nav>