<div class="number my-5" id="course">
  <div class="opacity bg-yellow"></div>
  <div class="content my-5">
    <div class="container">				
      <div class="row" >
        <div class="col-12 col-md-6 mx-auto d-flex" style="justify-content: space-between;">
          <div class="block-number">
            <span class="text-center cl-white p-4  rounded-circle bg-darkblue">56</span>
            <h5 class="text-uppercase  cl-white mt-3 px-2 pt-1 ">courses</h5>
          </div> <!-- end block-number -->
          <div class="block-number">
            <span class="text-center cl-white p-4 rounded-circle bg-darkyellow">28</span>
            <h5 class="text-uppercase cl-white mt-3 px-2 pt-1 ">teachers</h5>
          </div> <!-- end block-number -->
          <div class="block-number">
            <span class="text-center cl-white p-4 rounded-circle bg-darkgreen">34</span>
            <h5 class="text-uppercase cl-white mt-3 px-2 pt-1 ">kids</h5>
          </div> <!-- end block-number -->
          <div class="block-number">
            <span class="text-center cl-white p-4 rounded-circle bg-darkred">48</span>
            <h5 class="text-uppercase cl-white mt-3 px-2 pt-1 ">activities</h5>
          </div> <!-- end block-number -->

        </div>
      </div> <!-- end row -->
    </div> 
  </div> <!-- end content -->
</div>