<div class="info my-5" id="news">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ktitle">
          <h1 class="cl-gray text-uppercase">our news</h1>
          <h3 class="cl-gray text-uppercase">our fllow our most important news</h3>
        </div>
        <div class="line bg-blue mt-3"></div>
      </div>
    </div> <!-- end row -->
    <div class="row mt-5">
      <div class="col-12">
        <a class="btn cl-gray bg-lightgray text-uppercase" data-filter="*">educationl</a>
        <a class="btn cl-gray bg-lightgray text-uppercase" data-filter="document">document</a>
        <a class="btn cl-gray bg-lightgray text-uppercase" data-filter="excursion">excursion</a>
        <a class="btn cl-gray bg-lightgray text-uppercase" data-filter="knowledge">knowledge</a>
      </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="row mt-5 grid">
      <div class="col-12">
        <div class="card-columns">
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/lunch.jpg" alt="Card image cap">
            <span class="date mt-3 ml-3 px-2 py-2 fa fa-camera cl-white rounded-circle bg-blue"></span>
            <div class="card-block bg-blue">
              <h4 class="card-title text-uppercase cl-white">our school anniversarry!</h4>
              <div class="line line-small bg-white mt-3"></div>
              <p class="card-text cl-white mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
              <a href="" class="cl-white text-capitalize"><i class="fa fa-file-text-o mr-2"></i>read more</a>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/xmas.jpg" alt="" class="card-img-top img-fluid">
            <span class="date mt-3 ml-3 px-2 py-2 fa fa-camera cl-white rounded-circle bg-darkred"></span>
             <div class="card-block bg-darkred">
                <h4 class="card-title text-uppercase cl-white">christmas party!</h4>
              </div>
          </div>
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/autumn.jpg" alt="Card image cap">
            <span class="date mt-3 ml-3 px-2 py-2 fa fa-camera cl-white rounded-circle bg-red"></span>
            <div class="card-block bg-red">
              <h4 class="card-title text-uppercase cl-white">excursion presentation!</h4>
              <div class="line line-small bg-white mt-3"></div>
              <p class="card-text cl-white mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
              <a href="" class="cl-white text-capitalize"><i class="fa fa-file-text-o mr-2"></i>read more</a>
            </div>
          </div>
          <div class="card ">
            <div class="card-block bg-green">
              <h4 class="card-title text-uppercase cl-white">see our new download area!</h4>
              <div class="line line-small bg-white mt-3"></div>
              <p class="card-text cl-white mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/piano.jpg" alt="" class="card-img-top img-fluid">
            <span class="date mt-3 ml-3 px-2 py-2 fa fa-camera cl-white rounded-circle bg-red"></span>
            <div class="card-block bg-red">
                <h4 class="card-title text-uppercase cl-white">music activites for all classes</h4>
              </div>
          </div>
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/cook.jpg" alt="Card image cap">
            <span class="date mt-3 ml-3 px-2 py-2 fa fa-camera cl-white rounded-circle bg-yellow"></span>
            <div class="card-block bg-yellow">
              <h4 class="card-title text-uppercase cl-white">best cookng activites !</h4>
              <div class="line line-small bg-white mt-3"></div>
              <p class="card-text cl-white mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
              <a href="" class="cl-white text-capitalize"><i class="fa fa-file-text-o mr-2"></i>read more</a>
            </div>
          </div>
          <div class="card">							
            <div class="card-block bg-darkred">
              <h4 class="card-title text-uppercase cl-white">doctor in the schoolo for you !</h4>
              <div class="line line-small bg-white mt-3"></div>
              <p class="card-text cl-white mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
              <a href="" class="cl-white text-capitalize"><i class="fa fa-file-text-o mr-2"></i>read more</a>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/flower.jpg" alt="" class="card-img-top img-fluid">
            <span class="date mt-3 ml-3 px-2 py-2 fa fa-camera cl-white rounded-circle bg-darkred"></span>
            <div class="card-block bg-darkred">
                <h4 class="card-title text-uppercase cl-white">say hello to our new teachers</h4>
              </div>
          </div>
          <div class="card">
            <img src="assets/img/vegetable-nature.jpg" alt="" class="card-img-top img-fluid">
            <span class="date mt-3 ml-3 px-2 py-2 fa fa-camera cl-white rounded-circle bg-green"></span>
            <div class="card-block bg-green">
              <h4 class="card-title text-uppercase cl-white">bio special meal</h4>
              <div class="line line-small bg-white mt-3"></div>
              <p class="card-text cl-white mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
              <a href="" class="cl-white text-capitalize"><i class="fa fa-file-text-o mr-2"></i>read more</a>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/post-bubble.jpg" alt="" class="card-img-top img-fluid">
            <span class="date mt-3 ml-3 px-2 py-2 fa fa-camera cl-white rounded-circle bg-blue"></span>
            <div class="card-block bg-blue">
              <h4 class="card-title text-uppercase cl-white">end of the school year</h4>
              <div class="line line-small bg-white mt-3"></div>
              <p class="card-text cl-white mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
              <a href="" class="cl-white text-capitalize"><i class="fa fa-file-text-o mr-2"></i>read more</a>
            </div>
          </div>
        </div> <!-- end cards -->
      </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="row text-center mx-auto">
      <div class="col-12">
        <a href="" class="btn bg-blue text-uppercase cl-white"><i class="fa fa-th ml-2">view more</i></a>
      </div>
    </div>
  </div> <!-- end container -->
</div>