<div class="info my-5" id="teacher">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ktitle">
          <h1 class="cl-gray text-uppercase">our teacher</h1>
          <h3 class="cl-gray text-uppercase">our best teachers only for you</h3>
        </div>
        <div class="line bg-red mt-3"></div>
      </div>
    </div> <!-- end row -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="teacher-card bg-red mt-5">
          <div class="block block-images">
            <img src="assets/img/teacher1.jpg" alt="" class="img-fluid">
          </div>
          <div class="block block-content pt-3">
            <h4 class="text-uppercase cl-white ml-2">john mcalister</h4>
            <h5 class="text-uppercase cl-white ml-2">music teacher</h5>
            <div class="line line-small bg-white mt-3 ml-2"></div>
            <p class="mt-1 ml-2 cl-white">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-2 cl-white"><i class="fa fa-chevron-right mr-2" aria-hidden="true"></i>Know me!</a>
          </div>
          <div class="block block-icon d-flex" style="flex-direction: column; justify-content: space-around;">
            <i class="fa fa-download mx-auto cl-white rounded-circle bg-darkred text-center"></i>
            <i class="fa fa-microphone mx-auto cl-white rounded-circle bg-darkred text-center"></i>
            <i class="fa fa-paperclip mx-auto cl-white rounded-circle bg-darkred text-center"></i>
          </div>
        </div> <!-- end teacher-card -->
      </div> <!-- end col -->
      <div class="col-12 col-md-6">
        <div class="teacher-card bg-blue mt-5">
          <div class="block block-images">
            <img src="assets/img/teacher2.jpg" alt="" class="img-fluid">
          </div>
          <div class="block block-content py-3">
            <h4 class="text-uppercase cl-white ml-2">john mcalister</h4>
            <h5 class="text-uppercase cl-white ml-2">art teacher</h5>
            <div class="line line-small bg-white mt-3 ml-2"></div>
            <p class="mt-1 ml-2 cl-white">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-2 cl-white"><i cla	ss="fa fa-chevron-right mr-2" aria-hidden="true"></i>Know me!</a>
          </div>
          <div class="block block-icon d-flex" style="flex-direction: column; justify-content: space-around;">
            <i class="fa fa-download mx-auto cl-white rounded-circle bg-darkblue text-center"></i>
            <i class="fa fa-microphone mx-auto cl-white rounded-circle bg-darkblue text-center"></i>
            <i class="fa fa-paperclip mx-auto cl-white rounded-circle bg-darkblue text-center"></i>
          </div>
        </div> <!-- end teacher-card -->
      </div> <!-- end col -->
      <div class="col-12 col-md-6">
        <div class="teacher-card bg-yellow mt-5">
          <div class="block block-images">
            <img src="assets/img/teacher3.jpg" alt="" class="img-fluid">
          </div>
          <div class="block block-content py-3">
            <h4 class="text-uppercase cl-white ml-2">john mcalister</h4>
            <h5 class="text-uppercase cl-white ml-2">english teacher</h5>
            <div class="line line-small bg-white mt-3 ml-2"></div>
            <p class="mt-1 ml-2 cl-white">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-2 cl-white"><i class="fa fa-chevron-right mr-2" aria-hidden="true"></i>Know me!</a>
          </div>
          <div class="block block-icon d-flex" style="flex-direction: column; justify-content: space-around;">
            <i class="fa fa-download mx-auto cl-white rounded-circle bg-darkyellow text-center"></i>
            <i class="fa fa-microphone mx-auto cl-white rounded-circle bg-darkyellow text-center"></i>
            <i class="fa fa-paperclip mx-auto cl-white rounded-circle bg-darkyellow text-center"></i>
          </div>
        </div> <!-- end teacher-card -->
      </div> <!-- end col -->
      <div class="col-12 col-md-6">
        <div class="teacher-card bg-violet mt-5">
          <div class="block block-images">
            <img src="assets/img/teacher4.jpg" alt="" class="img-fluid">
          </div>
          <div class="block block-content py-3">
            <h4 class="text-uppercase cl-white ml-2">john mcalister</h4>
            <h5 class="text-uppercase cl-white ml-2">sport teacher</h5>
            <div class="line line-small bg-white mt-3 ml-2"></div>
            <p class="mt-1 ml-2 cl-white">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="#" class="ml-2 cl-white"><i class="fa fa-chevron-right mr-2" aria-hidden="true"></i>Know me!</a>
          </div>
          <div class="block block-icon d-flex" style="flex-direction: column; justify-content: space-around;">
            <i class="fa fa-download mx-auto cl-white rounded-circle bg-darkviolet text-center"></i>
            <i class="fa fa-microphone mx-auto cl-white rounded-circle bg-darkviolet text-center"></i>
            <i class="fa fa-paperclip mx-auto cl-white rounded-circle bg-darkviolet text-center"></i>
          </div>
        </div> <!-- end teacher-card -->
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div>
</div>