<div class="info my-5" id="event">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ktitle">
          <h1 class="cl-gray text-uppercase">our events</h1>
          <h3 class="cl-gray text-uppercase">do not mis our events</h3>
        </div>
        <div class="line bg-green mt-3"></div>
      </div>
    </div> <!-- end row -->
    <div class="row">
      <div class="col-12 col-md-3 my-4">
        <div class="card">
          <a href="#" class="date text-uppercase cl-white bg-darkgray px-3 py-2 mt-4 ml-4 align-middle">21 <br><small>dec</small> </a>
          <img src="assets/img/event1.jpg" alt="" class="card-img-top img-fluid">
          <div class="card-block bg-dark cl-white">
            <h6 class="text-uppercase">the first day in school</h6>
          </div>
          <div class="card-block bg-green cl-white">
            <p class="text-capitalize mb-1 font-weight-bold"><i class="fa fa-map-marker mr-2"></i>new york, time square</p>
            <p class="mb-1 font-weight-bold"><i class="fa fa-calendar mr-2"></i>01/01/2015</p>
            <div class="line line-small bg-white mt-3"></div>
            <p class="mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="" class="btn cl-white bg-darkgreen text-uppercase">check it</a>
          </div>
        </div> <!-- end card -->
      </div> <!-- end col-md4 -->
      <div class="col-12 col-md-3 my-4">
        <div class="card">
          <a href="#" class="date text-uppercase cl-white bg-darkgray px-3 py-2 mt-4 ml-4 align-middle">14 <br><small>apr</small> </a>
          
          <img src="assets/img/event1.jpg" alt="" class="card-img-top img-fluid">
          <div class="card-block bg-dark cl-white">
            <h6 class="text-uppercase">creative lab day</h6>
          </div>
          <div class="card-block bg-blue cl-white">
            <p class="text-capitalize mb-1 font-weight-bold"><i class="fa fa-map-marker mr-2"></i>new york, time square</p>
            <p class="mb-1 font-weight-bold"><i class="fa fa-calendar mr-2"></i>01/01/2015</p>
            <div class="line line-small bg-white mt-3"></div>
            <p class="mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="" class="btn cl-white bg-darkblue text-uppercase">check it</a>
          </div>
        </div> <!-- end card -->
      </div> <!-- end col-md4 -->
      <div class="col-12 col-md-3 my-4">
        <div class="card">
          <a href="#" class="date text-uppercase cl-white bg-darkgray px-3 py-2 mt-4 ml-4 align-middle">08 <br><small>may</small> </a>
          
          <img src="assets/img/event1.jpg" alt="" class="card-img-top img-fluid">
          <div class="card-block bg-dark cl-white">
            <h6 class="text-uppercase">art museum activity</h6>
          </div>
          <div class="card-block bg-yellow cl-white">
            <p class="text-capitalize mb-1 font-weight-bold"><i class="fa fa-map-marker mr-2"></i>new york, time square</p>
            <p class="mb-1 font-weight-bold"><i class="fa fa-calendar mr-2"></i>01/01/2015</p>
            <div class="line line-small bg-white mt-3"></div>
            <p class="mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="" class="btn cl-white bg-darkyellow text-uppercase">check it</a>
          </div>
        </div> <!-- end card -->
      </div> <!-- end col-md4 -->
      <div class="col-12 col-md-3 my-4">
        <div class="card">
          <a href="#" class="date text-uppercase cl-white bg-darkgray px-3 py-2 mt-4 ml-4 align-middle">24 <br><small>mar</small> </a>
          
          <img src="assets/img/event1.jpg" alt="" class="card-img-top img-fluid">
          <div class="card-block bg-dark cl-white">
            <h6 class="text-uppercase">sports lesson</h6>
          </div>
          <div class="card-block bg-red cl-white">
            <p class="text-capitalize mb-1 font-weight-bold"><i class="fa fa-map-marker mr-2"></i>new york, time square</p>
            <p class="mb-1 font-weight-bold"><i class="fa fa-calendar mr-2"></i>01/01/2015</p>
            <div class="line line-small bg-white mt-3"></div>
            <p class="mt-3">Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <a href="" class="btn cl-white bg-darkred text-uppercase">check it</a>
          </div>
        </div> <!-- end card -->
      </div> <!-- end col-md4 -->
    </div> <!-- end row -->
  </div>
</div>