<div id="parall" class="number my-5">
  <div class="opacity bg-green"></div>
  <div class="content">
    <div class="container parall-height">
      <div class="row justify-content-md-center align-items-center parall-height">
        <a href="#" class="btn bg-blue mx-2"><i class="fa fa-th mr-2" aria-hidden="true"></i>all activities</a>
        <a href="" class="btn bg-blue mx-2"><i class="fa fa-pencil mr-2" aria-hidden="true"></i>contact us</a>
      </div>
    </div>
  </div> <!-- end content -->
</div>