<div class="number my-5" id="firstday">
  <div class="opacity bg-red"></div>
  <div class="content my-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="cl-white align-items-center text-uppercase text-center">first day at school</h3>
          <h5 class="cl-white align-items-center text-uppercase text-center">check it now !</h5>
          <div class="line bg-white justify-content-md-center mt-3 mx-auto"></div>
        </div>
      </div> <!-- end row -->
      <div class="row mt-5" >
        <div class="col-12 col-md-6 mx-auto d-flex" style="justify-content: space-between;">
          <div class="block-number">
            <h3 class="text-center cl-white">14</h3>
            <h5 class="text-uppercase btn bg-blue cl-white px-2 pt-1 font-weight-bold">days</h5>
          </div> <!-- end block-number -->
          <div class="block-number">
            <h3 class="text-center cl-white">28</h3>
            <h5 class="text-uppercase btn bg-green cl-white px-2 pt-1 font-weight-bold">hours</h5>
          </div> <!-- end block-number -->
          <div class="block-number">
            <h3 class="text-center cl-white">34</h3>
            <h5 class="text-uppercase btn bg-yellow cl-white px-2 pt-1 font-weight-bold">minutes</h5>
          </div> <!-- end block-number -->
          <div class="block-number">
            <h3 class="text-center cl-white">48</h3>
            <h5 class="text-uppercase btn bg-violet cl-white px-2 pt-1 font-weight-bold">days</h5>
          </div> <!-- end block-number -->

        </div>
      </div> <!-- end row -->
    </div> 
  </div> <!-- end content -->
</div>